{% load static %}
<!docutype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="株式会社ELEPLANの設計の考え方をご紹介します">
        <titele>ELEPLAN|ELEPLANについて</title>
        <link rel="icon" href="favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'cute_paccho/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'cute_paccho/css/StyleCompanyProfIndex.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'cute_paccho/css/StyleAboutEleplan.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=vpn_key" />
        
        <style>
            body {
              font-family: 'Kosugi Maru';
            }
          </style>
    </head>

    <body>
        <header>
            <nav class="HeaderArea">
                <a href="{% url 'index' %}"><h1>ELEPLAN</h1></a>
                <div class="selecters">
                    <a class="header_selecters" href="{% url 'CompanyProfIndex' %}">会社概要</a>
                    <a class="header_selecters" href="{% url 'Recruitment' %}">採用・募集</a>
                    <a class="header_selecters" href="{% url 'FaqIndexAdd' %}">問合せ</a>
                    <a class="login_bottom" href="{% url 'MembersIndex' %}"><span class="material-symbols-outlined">
                        vpn_key</span>メンバーサイト</a>
                </div>
            </nav>
        </header>


        <div class="ContentWrapper">
            <div class="ContentArea">
                <div class="ContentBox">
                    <div class="ContentBottom">
                        <a class="ContentTitle" href="{% url 'AboutEleplan' %}">
                            <p><span style="font-size:24px;">ELEPLANとは</span></p>
                        </a>
                    </div>
                    <p class="ContentTitle">設計に対する考え方<br>今後の見通しなど</p>
                </div>

                <div class="ContentBox">
                    <div class="ContentBottom">
                        <a class="ContentTitle" href="{% url 'CompanyProfIndex' %}">
                            <p><span style="font-size:24px;">会社概要</span></p>
                        </a>
                    </div>
                    <p class="ContentTitle">ELEPLANの会社案内<br>事業内容、沿革など</p>
                </div>

                <div class="ContentBox">
                    <div class="ContentBottom">
                        <a class="ContentTitle" href="{% url 'EnvironmentalActivities' %}">
                            <p><span style="font-size:24px;">環境活動</span></p>
                        </a>
                    </div>
                    <p class="ContentTitle">保護猫ボランティア<br>ドックカフェの運営など</p>
                </div>

                <div class="ContentBox">
                    <div class="ContentBottom">
                        <a class="ContentTitle" href="{% url 'CompanyData' %}">
                            <p><span style="font-size:24px;">会社データ</span></p>
                        </a>
                    </div>
                    <p class="ContentTitle">年間売上、受注件数など</p>
                </div>
            </div>

            <div class="AboutEleplanRapper">
                <h3 style="font-size: 28px;">ＥＬＥＰＬＡＮとは</h3>
                <p style="font-size: 20px;">車のスペースフレームをご存知ですか？</p>

                <div class="ExplainFrame">
                    <p>このフレームに数万のパーツが繋げられることで自動車は作られます。</p>
                    <p>このスペースフレームの強靭さ、軽量さ、柔軟性のバランスは車の安全性、快適性、デザイン性のすべての要素に関わる重要なフレームであり、これなきにして自動車は作れません。</p>
                </div>

                <img src="{% static 'CarFactory.jpg' %}" width="640" height="426" opacity="0.5">
                <p style="font-size: 20px;">ＥＬＥＬＰＬＡＮが目指すものは<br>このスペースフレームの構築です</p>

                
                <div class="ExplainFrame">
                    <p>受変電、発電、照明、電話、ネットワーク、ＡＶ、セキュリティ、自動車、スマホ、自然エネルギー(太陽光、風力等)などは各々が独立したモノと思われがちですが実は互いに繋がりがあり、繋げ方次第で使い易い(にくい)、メンテが楽(大変)、コストがかからない(かかる)システムの構築が可能です。</p>
                    <p>それらの礎となるスペースフレームの構築は設計の要となり、建物設備価値を決める重要な要素となります。</p>
                </div>

                <p style="font-size: 20px;">常に過去の常識に捕らわれない</p>
                <p style="font-size: 20px;">フレームの構築を目指しています</p>
                <br>
                <div class="ExplainFrame">
                    <p>なぜならばスペースフレームには、時代の流れに合った順応性と将来を見据え変化できる柔軟性が必要と考えているからです。</p>
                </div>

            </div>

        </div>

        <footer>
            <div class="FooterWrapper" style="border-style: solid;border-width: 1px 0px 0px 0px; border-color:rgb(110,110,110);">
                <p class="footer_coments" style="font-size:20px;font-weghit:900;letter-spacing;5px;">株式会社ＥＬＥＰＬＡＮ</p>
                <div class="FooterContents">
                    <p>Copyright © ELEPLAN Inc. All rights reserved.<br>
                        東京都中央区京橋2-12-2 NEWS X 10F<br>
                        Email: info@eleplan.jp
                    </p>
                </div>
                <div class="selecters">
                    <a class="SmallSelecters" href="{% url 'SiteMap' %}">サイトマップ</a>
                    <a class="SmallSelecters" href="{% url 'PrivacyPolicy' %}">| プライバシーポリシー</a>
                    <a class="SmallSelecters" href="{% url 'FaqIndexAdd' %}">| 問合せ</a>
                </div>
            </div>
        </footer>

    </body>

</html>
