{% load static %}
<!docutype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="【メンバーのみ】ELEPLAN 電気計算 幹線電圧降下計算ソフトです">
        <titele>ELEPLAN|電気計算</title>
        <link rel="icon" href="favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'cute_paccho/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'cute_paccho/css/StyleMembersIndex.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'cute_paccho/css/StyleElecCulc.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'cute_paccho/css/StyleCulcMainFeeder.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=vpn_key" />
        
        <style>
            body { font-family: 'Kosugi Maru'; }
          </style>
    </head>
    
    <body>
        <header>
            <nav class="HeaderArea">
                <a href="{% url 'index' %}"><h1>ELEPLAN</h1></a>
                <div class="selecters">
                    <a class="header_selecters" href="{% url 'CompanyProfIndex' %}">会社概要</a>
                    <a class="header_selecters" href="{% url 'Recruitment' %}">採用・募集</a>
                    <a class="header_selecters" href="{% url 'FaqIndexAdd' %}">問合せ</a>
                    <a class="login_bottom" href="{% url 'MembersIndex' %}"><span class="material-symbols-outlined">
                        vpn_key</span>メンバーサイト</a>
                </div>
            </nav>
        </header>

        <div class="SelecterWrapper">
            <div class="SubSelecters">
                <a class="SelectersTitle" href ="{% url 'MembersIndex' %}">スタッフの作業状況</a>
            </div>
            
            <div class="SubSelecters">
                <a class="SelectersTitle" href ="{% url 'ProjectProgressIndex' %}">物件状況</a>
            </div>
            
            <div class="SubSelecters">
                <a class="SelectersTitle" href ="{% url 'ElecCulcIndex' %}">設計計算ソフト</a>
            </div>

            <div class="SubSelecters">
                <a class="SelectersTitle" href ="#">電気資料</a>
            </div>

            <div>
                <form action="{% url 'LogoutButton' %}" method="post">
                    {% csrf_token %}
                    <button class="LogoutButton" type="submit">ログアウト</button>
                </form>
            </div>
        </div>
        
        <div class="ContentWrapper">
            <div class="CulcSelecters">
                <a class="CulcSelecTitle" href="{% url 'CulcMainFeeder' %}">■幹線電圧降下計算</a>
                <a class="CulcSelecTitle" href="{% url 'CulcConduitSize' %}">■配管サイズ計算</a>
                <a class="CulcSelecTitle" href="{% url 'CulcEarthCableSize' %}">■接地配線太さ計算(CD種)</a>
                <a class="CulcSelecTitle" href="#">■設備不平衡計算</a>
            </div>

            <p>{{message|safe}}</p>            
            <div class="MainCulculation">
                <h3>幹線電圧降下計算</h3>
                <form action="{% url 'CulcMainFeeder'%}" method="post">
                    {% csrf_token %}
                    <p>電気方式を選択してください</p>
                        {{ form.ElecSpec }}
                    <br>
                    <p>電気容量を入力してください(kVA, kW)</p>
                        {{ form.ElecCapacity }}
                    <br>
                    <p>幹線長さを入力してください(m)</p>
                        {{ form.FeederLength }}
                    <br><br>
                    <input type="submit" value="計算開始" class="btn btn-primary">
            </div>
            <div class="MainCulculation">
                {% if Answers %}
                    <table class="AnswerTable">
                        {% for row in Elements %}
                            <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor%} 
                            </tr>
                        {% endfor %}
                    </table>
                    
                    <table class="AnswerTable">
                        {% for row in Answers %}
                            <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor%} 
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>データがありません</p>
                {% endif %}
            </div>
        </div>

        
        <footer>
            <div class="FooterWrapper" style="border-style: solid;border-width: 1px 0px 0px 0px; border-color:rgb(110,110,110);">
                <p class="footer_coments" style="font-size:20px;font-weghit:900;letter-spacing;5px;">株式会社ＥＬＥＰＬＡＮ</p>
                <div class="FooterContents">
                    <p>Copyright © ELEPLAN Inc. All rights reserved.<br>
                        東京都中央区京橋2-12-2 NEWS X 10F<br>
                        Email: info@eleplan.jp
                    </p>
                </div>
                <div class="selecters">
                    <a class="SmallSelecters" href="{% url 'SiteMap' %}">サイトマップ</a>
                    <a class="SmallSelecters" href="{% url 'PrivacyPolicy' %}">| プライバシーポリシー</a>
                    <a class="SmallSelecters" href="{% url 'FaqIndexAdd' %}">| 問合せ</a>
                </div>
            </div>
        </footer>

    </body>

</html>
